/* Goodle Fonts */

.sora-fonts {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* header styles */
.header{
    max-width: 90%;
    margin: auto;
}

/* Nav Styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar, .nav-link{
    display: flex;
    align-items: center;

}
.nav-flex{
    display: flex;
    align-items: center;
}
.nav-link li{
    list-style: none;
    margin-right: 50px;
}
.nav-link .nav-links{
    text-decoration: none;
    font-size: 20px;

}
.btn{
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: orangered;
    border-radius: 12px;
}
.nav-text{
    font-size: 30px;
    font-weight: bold;
}
.nav-link-one, .nav-link-four{
    color:orangered;
}
/* Main Styles */
.main{
    max-width: 90%;
    margin: auto;
    background-image: url("../assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* hero styles */
.btn-color{
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hero-title{
    width: 640px;
    font-weight: bold;
    font-size: 50px;
}
.span-one{
    color: orangered;
}
.span-two{
    color: skyblue;
}
.hero-dspt{
    width: 500px;
}
/* Standard Styles */
.standard{
    margin-top: 80px;
}
.satndard-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.standard-container{
    display: flex;
    gap: 24px;
}
.standard-card-one{
    background: linear-gradient(
        rgb(191, 188, 188),rgb(183, 203, 116)
    );
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(251, 250, 250);
}
.standard-card-two{
    background: linear-gradient(
        rgb(188, 217, 248),rgb(247, 253, 174)
    );
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(251, 250, 250);
}
.standard-card-three{
    background: linear-gradient(
        rgb(216, 247, 178),rgb(241, 177, 177)
    );
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(251, 250, 250);
}
.card-dspt{
    width: 80%;
    margin: auto;
}
/* less and right angle */
.less{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.less-one, .less-two{
    font-size: 24px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    padding: 10px 10px;
}
.less-container{
    display: flex;
    gap: 10px;
    align-items: center;
}












/* Responsive for mobail */
@media screen and (max-width:576px) {
    .nav-text{
        display: none;
    }
    .navbar .nav-link{
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 180px;
        display: none;
         
    }
    
    .btn{
        font-size: 18px;
        padding: 15px 20px;
    }
    /* hero */
    .container{
        flex-direction: column-reverse;
    }
    .hero-img{
        width: 100%;
    }
    .hero-title{
        font-size: 25px;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .hero-dspt{
        text-align: center;
        margin:10px auto;
        width: 80%;
    }
    .center{
        text-align: center;
    }
    .content-one{
        margin-top: 40px;
    }
    /* Standard */
    .standard-container{
        flex-direction: column;
    }
    .satndard-title{
        font-size: 22px;
    }
    /* less */
    .less{
        position: relative;
        top: -10px;
    }
}